@media (prefers-reduced-motion: no-preference) {
  .zoomable {
    transform: scale(95%);
    opacity: 0.8;
    transition-property: transform opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .zoomable.intersecting {
    opacity: 1;
    transform: scale(100%);
  }
}

.fadable {
  opacity: 0;
  transition: opacity .5s linear;
}

.fadable.intersecting {
  opacity: 1;
}