body {
  background: var(--color-primary-background-gradient);
  color: var(--color-text);
  font-family: monospace;
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 3rem;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 24px;
  }
}