body {
  background: var(--color-primary-background-gradient);
  color: var(--color-text);
  font-family: arial;
  font-size: 1.3rem;
  margin: 0;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 24px;
  }
}