.button {
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  background: var(--color-button-background);
  border-radius: 0.2rem;
  border: none;
  color: var(--color-button-text);
  padding: 1rem;
  font-size: 1.2rem;
  font-family: monospace;
}

.button:hover {
  background-color: var(--color-button-background-hover);
}

.button:disabled {
  cursor: default;
  background: var(--color-button-background-disabled);
}