h1 {
  font-size: 5rem;
  color: var(--color-title);
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: var(--color-subtitle);
  margin: 0;
}

h2>.small {
  font-size: 2.5rem;
  color: var(--color-subtitle-small);
}

h3 {
  color: var(--color-text);
}