

.markdown {
  blockquote {
    margin: 0;
    border-left: 5px solid blue;
    background-color: lightblue;
    padding-left: 1rem;
    padding-block: 0.5rem;
    border-radius: 2px;

    p {
      margin: 0;
    }
  }

  code:not([class]) {
    background-color: rgb(200 200 255);
    border: 1px inset black;
    border-radius: .3rem;
    padding: 0 .3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  pre {
    font-size: 1rem;

    .language-javascript {
      border: 1px inset lightblue;
      border-radius: .15rem;
      background: rgb(230 230 255);
    }

    &:has(.language-mermaid) {
      text-align: center;
      padding: 1rem;
    }
  }

  table {
    border-collapse: collapse;
    font-size: 1.3rem;

    td {
      border: 1px solid black;
      padding: .3rem;
    }

    th {
      padding: .3rem;
    }

    tbody {
      tr:nth-of-type(odd) {
        background-color: rgb(0 0 0 / 0.05);
      }
    }
  }
}