.menu-horizontal {
  display: flex;
  background-color: blue;
  top: 0;
  position: sticky;
  z-index: 1;
  margin: 0 0 2rem 0;

  .item {
    cursor: pointer;
    list-style: none;

    a {
      display: block;
      color: white;
      padding: 1rem 2rem;
      transition: background-color .3s ease-out;
      text-decoration: none;

      &:hover {
        background-color: rgb(150 150 255);
      }
    }
  }
}

.icon-big {
  height: 1.2rem;
  vertical-align: baseline;
  margin-right: .3rem;
}