.two-columns {
  padding-inline: 2rem;
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-template-rows: 1fr auto;
}

@media screen and (width >=1200px) {
  .two-columns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.two-columns h2 {
  text-align: left;
}

.two-columns p {
  text-align: justify;
  margin: auto;
  margin: 2rem 0;
}

.two-columns img {
  margin: auto;
}