:root {
  --color-primary: blue;

  --color-button-background: var(--color-primary);
  --color-button-background-hover: hsl(from var(--color-button-background) h s calc(l + 20));
  --color-button-background-disabled: hsl(from var(--color-button-background) h s calc(l + 30));
  --color-button-text: hsl(from var(--color-primary) h s calc(l + 100));

  --color-primary-background-gradient: linear-gradient(to right,
      hsl(from var(--color-primary) h s calc(l + 40)),
      hsl(from var(--color-primary) h s calc(l + 45)));

  --color-border: hsl(from var(--color-primary) h s calc(l - 30));

  --color-input-background: hsl(from var(--color-primary) h s calc(l + 50));

  --color-text: black;
  --color-title: hsl(from var(--color-text) h s calc(l - 20));
  --color-subtitle: var(--color-text);
  --color-subtitle-small: hsl(from var(--color-primary) h s calc(l - 20));
  --color-link: var(--color-subtitle-small);

  --color-contact-background: hsl(from var(--color-primary) h s calc(l + 40))
}