.contact {
  border-radius: .5rem;
  border: 1px solid var(--color-border);
  padding: 2rem;
}

.contact label {
  display: block;
  margin-top: 1rem;
}

.contact input,
.contact select,
.contact textarea {
  border: 1px solid var(--color-border);
  display: block;
  min-width: 50%;
  font-size: 1.2rem;
  color: var(--color-text);
  font-family: monospace;
  padding: .3rem;
  background-color: var(--color-input-background);
}

.contact textarea {
  width: 100%;
}