.services {
  display: grid;
  grid-template-columns: 40rem;
  column-gap: 5rem;
  row-gap: 10rem;
  text-align: justify;
  justify-content: center;
}

.services>div {
  display: grid;
  grid-template-rows: 10rem auto;
  justify-items: center;
  gap: 1rem;
}

.services h2 {
  text-align: center;
}

.services img {
  height: 100%;
  max-width: 100%;
}

.services .img-container {
  text-align: center;
}

@media screen and (width >=1500px) {
  .services {
    grid-template-columns: repeat(2, 40rem);
  }
}

@media screen and (width >=2900px) {
  .services {
    grid-template-columns: repeat(4, 40rem);
  }
}