.zoomable {
  transform: scale(80%);
  opacity: 0.7;
  transition-property: transform opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.zoomable.intersecting {
  opacity: 1;
  transform: scale(100%);
}