name: tests
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'
          cache: true
      - name: build
        run: cd website/src && go build ./cmd/valettesoftware.go
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: valettesoftware
          path: website/src/valettesoftware

