name: tests
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
          cache: false
      - name: Build
        run: cd website/src && go build ./cmd/valettesoftware.go
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: valettesoftware
          path: website/src/valettesoftware

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: valettesoftware

      - name: Set as executable file
        run: |
          chmod +x valettesoftware

      - name: Get SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Upload via rsync
        run: |
          rsync -avz valettesoftware \
            ${{ variables.SSH_USER }}@${{ variables.SSH_HOST }}:/home/debian
